<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather-icon.png" />
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was made by Seffi Nevo. It uses data from mapbox.com and darksky.net!</p>
        <img class="portrait" src="/img/me2.jpeg">
    </div>

    {{>footer}}
</body>



</html>